@model SimpleCapaApp.Models.Capa

@{
    ViewBag.Title = "Details";
}

<div>
    <h1>Capa Details</h1>
    <br/><br />

    @{
        switch (Model.Step)
        {
            case 2:
                @Html.Action("ContainmentTasks", "Steps", new { CapaId = Model.Id })
                break;
            case 3:
                @Html.Action("Containment", "Steps", new { CapaId = Model.Id })
                break;
            case 4:
                @Html.Action("ContainmentTasksSummary", "Tasks", new { CapaId = Model.Id })
                <br />
                <hr />
                <br />
                @Html.Action("CorrectionTasks", "Steps", new { CapaId = Model.Id })
                break;
            case 5:
                @Html.Action("ContainmentTasksSummary", "Tasks", new { CapaId = Model.Id })
                <br />
                <hr />
                <br />
                @Html.Action("Correction", "Steps", new { CapaId = Model.Id })
                break;
            case 6:
                @Html.Action("ContainmentTasksSummary", "Tasks", new { CapaId = Model.Id })
                <br />
                <hr />
                <br />
                @Html.Action("CorrectionTasksSummary", "Tasks", new { CapaId = Model.Id })
                <br />
                <hr />
                <br />
                @Html.Action("VerifyCapa", "Capas", new { CapaId = Model.Id })
                break;
            case 7:
                @Html.Action("ContainmentTasksSummary", "Tasks", new { CapaId = Model.Id })
                <br />
                <hr />
                <br />
                @Html.Action("CorrectionTasksSummary", "Tasks", new { CapaId = Model.Id })
                <br />
                <hr />
                <br />
                @Html.Action("FollowUpCapa", "Capas", new { CapaId = Model.Id })
                break;
        }
    }








    
</div>

