
@model IEnumerable<SimpleCapaApp.Models.Task>

<h3>Containment Tasks</h3>
<br />

<table class="table">
    <tr>
        <th>
            Task Status
        </th>
        <th>
            Task Name
        </th>
        <th>
            Description
        </th>
        <th>
            Technitian
        </th>
        <th>
            Due Date
        </th>
        <th>
            Attached Files
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Technitian.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                <ol>
                    @foreach (var f in item.Files)
                    {
                        <li><a href="/files/GetFile/@f.Id">@f.FileName</a></li>
                    }
                </ol>
            </td>
        </tr>
    }

</table>


@if (ViewBag.CompletedStatus)
{
    <div class="form-group">
        <div class="button">
            @Html.ActionLink("Finish Tasks", "FinishContainment", "Steps", new { CapaId = ViewBag.CapaId }, null)
        </div>
    </div>
}
else
{
    <div class="form-group">
        <div class="button">
            @Html.ActionLink("Pending Tasks for next step...", "FinishContainment", "Steps", new { CapaId = ViewBag.CapaId }, new { @class = "disabled" })
        </div>
    </div>
}

